In [1]:
#Importing required libraries

import pandas as pd

In [3]:
# Loading data using pandas library

raw_tweets = pd.read_csv('sentiment140/training.1600000.processed.noemoticon.csv', encoding='latin-1')

In [7]:
# Looking into the data

raw_tweets.columns = ['Target', 'ID', 'Date', 'Query', 'User', 'Text']

In [8]:
raw_tweets.head()

,Target,ID,Date,Query,User,Text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew